*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    box-sizing: inherit;
    font-family: 'Lobster Two', cursive;
    position: relative;
}
.landing_section{
    display: grid;
    grid-template-columns: 50% 50%;
}
.img_div__style{
    width: 60em;
}
/* Join CIT club button */
.join_citclub{
    text-align: center;
    display: inline-block;
    width: 40%;
    text-decoration: none;
    padding:.5em;
    font-size: 2em;
    font-weight: 600;
    margin-left: 2.5em;;
    background: rgb(1, 36, 86);
    color: #f8f8ff;
    border-radius: 10em;
    box-shadow: .1em .1em .4em .8em #34343410;
}