*{
    margin: 0;
    padding: 0;
}
/* styling the main conctent of our team page */
.main_ourTeam{
 background-color: orangered;
 margin: 0 2em 0 2em;
}
.team{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: center;
    align-items: center;
    background: blue;
}
.profiles{
   max-width: 100%;
    background: blueviolet;
    padding: 4% 10% 4% 10%;
    margin: 2% 0 2% 0;
}
.profile_photo{
    display: block;
    width: 20.8em;
    height: 20.8em;
    border-radius: 50%;
}
.description{
    font-size: 1.8em;
    text-align: justify;
    color: #343434;
    font-weight: 700;
}
.debug{
    background: chartreuse;
}
.bheading{
    background: crimson;
    width: 100%;
}
.profiles-back{
    transform: rotateY(180deg);
    background: yellow;
    padding: 2em;
    /* display: none; */
}
/* Hover effects */
.profiles:hover{
    background: black;
    transform: rotateY(-180deg);
}
.profiles-back:hover{
    transform: rotateY(0);
}