*{
    margin: 0;
    padding: 0;
}
/* styling the main conctent of our team page */
.main_ourTeam{
 background-color: orangered;
 margin: 0 2em 0 2em;
}
.team_grid{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: center;
    align-items: center;
/*background: blue; */
}
.profile_photo{
    display: block;
    width: 20.8em;
    height: 20.8em;
    border-radius: 50%;
}
.description{
    font-size: 1.8em;
    text-align: justify;
    color: #343434;
    font-weight: 700;
}
.team_card{
    position: relative;
    perspective: 50em;
    height: 32em;
    box-shadow: .1em .1em .4em rgba(0, 0, 0, 0.5);
}
.card_side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32em;
    backface-visibility: hidden;
    transition: all .8s ease;
    padding: 4% 21% 4% 21%;
    margin: 2% 0 2% 0;
}
.front{
    background: rgb(206, 124, 185);
}
.back{
    background: cornflowerblue;
    transform: rotateY(180deg);
}
.team_card:hover .front{
    transform: rotateY(-180deg);
}
.team_card:hover .back{
    transform: rotateY(0);
}