/* 
This file has the styles for the side bar navigation
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: inherit;
    font-family: 'Lobster Two', cursive;
}
/* styling the side nav class */
.side_nav{
    height: 35vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 12%;
    right: 4%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 50% ,rgba(0, 0, 0, 0.2) 50%);
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    padding-top: 2em;
}
/* side nav links */
.side_nav_btn{
    padding: .9em .2em .1em .3em;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.3em;
    color: #F7F7F7;
    display: block;
    transition: all .3s ease-in-out;
}
/* hover effect on side bar navigations */
.side_nav_btn:hover{
    color: skyblue;
    text-align: inherit;
}
/* button to close side bar */
.side_nav_close{
    position: absolute;
    top: 0;
    left: 3%;
    font-size: 8em;
    text-decoration: none;
    color: white;
    margin-left: 1.4em;
    margin-top: -.5em;
    background: black;
    height: 12vh;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
}
/* styling the span for opening the side nav bar */
.open_nav__btn{
    font-size: 3.5em;
    cursor: pointer;
    color:#F7F7F7;
    position: absolute;
    top: 11.8%;
    right: 4%;
}
